
.container {
  .container-header{
    height: 30px;
    width: 100%;
    background-color: #4a90e2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    line-height: 30px;
    text-align: center;

    .container-header-model{
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        font-size: 16px;
        cursor: pointer;

        :hover {
          color: #bfcddd;
        }
      }
    }
  
    .container-header-settings {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: #fff;
  
      :hover {
        color: #bfcddd;
      }
    }
  }

  .container-body {
    height: 520px;

    .chat-container{
      // border: 1px solid var(--semi-color-border);
      border-radius: 16px;
      margin: 8px 16px;
    }
  }
}